.body-footer
  width: 100%
  //left: 200px;
  right: 0;
  background-color: primary
  height: 2em
  position: fixed
  bottom: 0
  padding: 0.6em 1.5em
  z-index: 8
  p
    color: color-initial
    text-align: right
    font-size: 0.9rem
    span
      color: color-initial
