.body-footer
  width: 100%
  background-color: color-primary
  height: 2em
  position: fixed
  bottom: 0
  padding: .3em 0.5em 0.3em
  z-index: 2
  span
    color: color-initial
    float: right
    font-size: 0.8rem
    span
      color: color-logo-orange
      padding-left: 3px
