.map
  margin: 0 auto
  position:relative
  width:100%
  height:61vh

@media screen and (min-width: 1024px)
  .map
    height: 500px

.marker-enlarged
  height: 2.5rem !important
  width: 2.5rem !important
  transition: all 0.5s ease
  &:hover
    cursor: crosshair

.marker-reduced
  height: 1.8rem !important
  width: 1.8rem !important
  transition: all 0.5s ease
  &:hover
    cursor: crosshair

.info
  border: 1px solid #333
  border-radius: 3px

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  height: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 4.5rem;
  left: 1.8rem;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltiptext {
  visibility: visible;
  opacity: 1;
}
