// Typography

b,
strong
  font-weight: bold

div, p, h1, h2, h3, h4, h5, h6, a, input, label, header, aside, menu, body
  //font-family: sans;
  color: primary-text;

h1, h2, h3, h4, h5, h6
  margin-bottom: 1em*0.8
  line-height: 130%
  margin-top: 0

h1
  font-size: font-huge

h2
  font-size: font-huge*0.85

h3
  font-size: font-huge*0.7

h4
  font-size: font-huge*0.62

h5
  font-size: font-huge*0.52

h6
  font-size: font-huge*0.45

p, a
  font-size: font-med

.subtitle
  font-style: italic
  color: darken(grey, 5%)

.web-typo
  padding-left: 25%
  position: relative
  margin-bottom: 1rem;
  .web-note
    bottom: 10px
    color: #c0c1c2
    display: block
    font-weight: 400
    font-size: 17px
    line-height: 13px
    left: 0
    margin-left: 20px
    position: absolute
    width: 260px
    letter-spacing: 0px

.text-muted {
  color: #777
}

.text-primary {
  color: #9c27b0
}

.text-info {
  color: #03a9f4
}

.text-success {
  color: #4caf50
}

.text-warning {
  color: #fbc02d
}

.text-danger {
  color: #f44336
}
