
// Utility


// Clear a float with .clearfix
.clearfix

  &:after
    clear: both
    content: ' ' // The space content is one way to avoid an Opera bug.
    display: table

// Float either direction
.float-left
  float: left

.float-right
  float: right

.has-text-right
  text-align: right

.has-text-left
  text-align: left

.has-text-center
  text-align: center

.is-fullwidth
  width: 100%


// Floats
.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

// Display
.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.fixed {
  display: fixed;
}


// Margin and Padding
.no-pad {
  padding: 0 !important;
}

.no-margin-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.no-margin {
  margin: 0!important;
}

// Center
.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

//Margin Classes
.m-5 {
  margin: space-small*0.5 !important;
}
.m-5-t {
  margin-top: space-small*0.5 !important;
}
.m-5-b {
  margin-bottom: space-small*0.5 !important;
}
.m-5-l {
  margin-left: space-small*0.5 !important;
}
.m-5-r {
  margin-right: space-small*0.5 !important;
}
.m-10 {
  margin: space-small !important;
}
.m-10-t {
  margin-top: space-small !important;
}
.m-10-b {
  margin-bottom: space-small !important;
}
.m-10-l {
  margin-left: space-small !important;
}
.m-10-r {
  margin-right: space-small !important;
}
.m-10 {
  margin: space-small !important;
}
.m-20-t {
  margin-top: 20px !important;
}
.m-20-b {
  margin-bottom: 20px !important;
}
.m-20-l {
  margin-left: 20px !important;
}
.m-20-r {
  margin-right: 20px !important;
}

//Padding Classes
.p-5 {
  padding: space-small*0.5;
}
.p-5-t {
  padding-top: space-small*0.5;
}
.p-5-b {
  padding-bottom: space-small*0.5;
}
.p-5-l {
  padding-left: space-small*0.5;
}
.p-5-r {
  padding-right: space-small*0.5;
}
.p-10 {
  padding: space-small;
}
.p-10-t {
  padding-top: space-small;
}
.p-10-b {
  padding-bottom: space-small;
}
.p-10-l {
  padding-left: space-small;
}
.p-10-r {
  padding-right: space-small;
}

//width
.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto;
}

.f-1-13 {
  font-size: 1.13em !important;
}

.pointer {
  cursor: pointer;
}

//search content wrap
.search-content-wrap
  height:5em
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display:inline-block
