@import "normalize"
@import "minicss"
//@import "header"
@import "login"
@import "../theme"
//@import "modal"

html, body
  height 100%
  width 100%
  padding 0
  margin 0
  background-color #f2f2f2
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  overflow-y auto
  overflow-x hidden

.box
  box-shadow 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  background white
  padding 0.8rem !important
  margin 0 0 0.5rem 0 !important

#loader
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

#loader-bg
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 1;
  display: none;

section
  padding: 1.5rem

.outer-most-div {
  padding-bottom: 3em;
  margin-top: 50px;
  margin-left: 50px;
}

.log-style {
  margin-bottom:16px;
  border-bottom:1px solid #c2c2c2;
  padding-bottom:0.8em;
}

.objection-message {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 16px;
}

.margin-left-300 {
  margin-left: 0px !important;
  transition: 0.3s;
}
.margin-right-200 {
  margin-right: 200px !important;
}
.sidenav-width {
  width: 60px;
  transition: 0.3s
}
.sidenav-hide {
  margin-left:-0px
  transition: 0.3s
}

.header-hide {
  margin-left: 0px
  transition: 0.3s
}

.sidenav {
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

.overlay {
  position: fixed;
  //display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.slide-wrapper {
  position: relative;
  overflow: hidden;
  width: auto;
}

.slide {
  position: absolute;
  right: -600px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 1s;
  visibility: hidden;
  top:0
}

.slide-wrapper:hover .slide {
  transition: 1s;
  right: 0;
  top: 0;
  visibility: visible;
}

.srarchcontainer {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 38px;
    height: 38px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg);
  100%
    -webkit-transform: rotate(360deg);

@keyframes spin
  0%
    transform: rotate(0deg);
  100%
    transform: rotate(360deg);

@media screen and (min-width: 1024px) {
  .sidenav-width {
    width:0px !important;
  }

  .overlay {
    display: none;
  }
  .outer-most-div {
    margin-left: 50px !important;
  }
  .margin-left-300 {
    margin-left: 300px !important;
  }
}

@media screen and (max-width: 1023px) {
  .outer-most-div, .navbar > .container{
    //margin-left: 0px !important;
    z-index: 100;
  }

  .margin-right-200 {
    margin-right: 0px !important;
  }

  .sidenav-width {
    width:200px !important;
  }

  .overlay {
    //display: block;
  }
}

@media screen and (max-width: media-med) {
  .outer-most-div {
    margin-left: 0px !important;
  }
}
